<div class="container text center mt-3 ">
    <div class="row">
        <div class="col-md-9 mx-auto">
            <div class="card bg-dark ">
                <div class="card-header">
                    <h1>Acerca de</h1>
                </div>
                <div class="card-body h-auto d-inline-block">
                    <p>En el 2019 la mayor parte de las personas utilizan lámparas incandescentes para iluminar su hogar
                        lo cual solo aprovechan el 10% de la energía consumida para iluminar sus habitaciones. Este
                        proyecto consiste en la construcción de una lámpara LED inteligente la cual permitirá acercar al
                        usuario a la nueva tecnología. Con este fin, ¿Qué se puede hacer para tener mejor confort en la
                        iluminación del hogar con luminarias inteligentes de mayor durabilidad?</p>
                    <p> En este contexto los usuarios podrán sustituir las lámparas incandescentes, y así tener un menor
                        consumo de energía eléctrica. Este proyecto contempla el diseño estructural de una lámpara
                        moderna y eficaz, también realizar un circuito electrónico que cumpla con la operación y se
                        adapte a la estructura, para poder controlarla se diseña una Aplicación Web intuitiva y
                        novedosa.</p>
                    <p> Las respuestas recibidas muestran que es posible construir una lámpara inteligente de calidad
                        con un consumo de energía de 15W que se asemeja a la iluminación de una lámpara incandescente de
                        100 W teniendo un gran ahorro de energía y tecnología inteligente. </p>
                </div>
            </div>
        </div>
    </div>
</div>

