<div class="container mt-3 ">
    <div class="jumbotron text-center text-white bg-dark ">
        <h1>Iluminación Inteligente IoT </h1>
        <a href="/users/register" class="btn btn-success btn-lg">Comience ahora</a>
        <ul class="list-unstyled list-inline mt-4">
            <li class="list-inline-item">
                <a href="https://www.facebook.com/SensationL3D/" target="_blank">
                    <img src="https://img.icons8.com/color/64/000000/facebook-new.png">
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/jesus-christian-c/" target="_blank">
                    <img src="https://img.icons8.com/color/64/000000/linkedin.png">
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://twitter.com/KhrisWeb" target="_blank">
                    <img src="https://img.icons8.com/color/64/000000/twitter-squared.png">
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.youtube.com/watch?v=c3AQcHNDEDk" target="_blank">
                    <img src="https://img.icons8.com/color/64/000000/youtube-squared.png">
                </a>
            </li>
        </ul>
    </div>
</div>