<div class="container mt-3 ">
    <div class="jumbotron text-center text-white bg-dark ">
        <div class="container ">
        <h1>Iluminación Inteligente IoT </h1>
        <a href="/users/register" class="btn btn-danger btn-lg mt-4">Comience ahora</a>
        </div>
        <ul class="list-unstyled list-inline mt-4">
            <li class="list-inline-item">
                <a href="https://www.facebook.com/SensationL3D/" target="_blank" rel="noopener">
                   <img src="https://img.icons8.com/nolan/64/000000/facebook-new.png" alt="facebook">
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/jesus-christian-c/" target="_blank" rel="noopener">
                    <img src="https://img.icons8.com/nolan/64/000000/linkedin.png" alt="linkedin">
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://twitter.com/KhrisWeb" target="_blank">
                    <img src="https://img.icons8.com/nolan/64/000000/twitter.png" alt="twitter" rel="noopener">
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.youtube.com/watch?v=c3AQcHNDEDk" target="_blank" rel="noopener">
                    <img src="https://img.icons8.com/nolan/64/000000/youtube-squared.png" alt="youtube">
                </a>
            </li>
        </ul>
    </div>
</div>