<header>
  <nav class="navbar navbar-expand-xl navbar-dark bg-dark  ">
    <a class="navbar-brand " href="/">
      <img class="rounded-circle" src="/img/60.png" width="50" height="50" class="d-inline-block align-center" alt="led">
      SensationLED
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
         <li class="nav-item active">
          <button id="butInstall" class="btn btn-danger btn-sm" type="button" aria-label="Install" hidden>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Instalar
            <img src="https://img.icons8.com/color/20/000000/software-installer.png" alt="install">
          </button>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <div id="idOnOff"></div>

        {{#if user}}
        <li class="nav-item active">
          <a class="nav-link" href="/colors/add">
            <img src="https://img.icons8.com/offices/20/000000/rgb-circle-1.png" alt="control">
            Control</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/colors">
            <img src="https://img.icons8.com/color/20/000000/color-palette.png" alt="my colors">
            Mis-colores</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/colors/galery">
            <img src="https://img.icons8.com/color/20/000000/living-room.png" alt="living room">
            Ambienta-tu-espacio</a>
        </li>
         <li class="nav-item active">
          <a href="/colors/effects" class="nav-link">
            <img src="https://img.icons8.com/color/20/000000/northern-lights.png" alt="efects">
            Efectos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/about">
           <img src="https://img.icons8.com/color/20/000000/about.png" alt="about us">
            Acerca-de</a>
        </li>
        <li class="nav-item active">
          <a href="/users/logout" class="nav-link">
            <img src="https://img.icons8.com/color/20/000000/close-window.png" alt="exit">
            Salir</a>
        </li>
        {{else}}
        <li class="nav-item active">

          <a class="nav-link" href="/">
            <img src="https://img.icons8.com/color/20/000000/home.png" alt="home">
            Inicio</a>

        </li>
        <li class="nav-item active">
          <a href="/users/login" class="nav-link">
            <img src="https://img.icons8.com/color/21/000000/enter-2.png" alt="singin">
            Entra
          </a>
        </li>
        <li class="nav-item active">
          <a href="/users/register" class="nav-link">
            <img src="https://img.icons8.com/color/20/000000/add-user-male--v2.png" alt="singup">
            Registrate
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/about">
            <img src="https://img.icons8.com/color/20/000000/about.png" alt="about">
            Acerca-de
          </a>
        </li>
        {{/if}}
       
      </ul>
    </div>
  </nav>
</header>