<div class="container mt-4">
    <div id="effect"></div>
    <div class="row">
        <div class="col-sm-4 mb-3">
            <div class="card text-white mx-auto h-100 kards bg-dark" >
                <img src="https://cdn.pixabay.com/photo/2015/11/29/16/12/light-1068944_960_720.jpg" class="card-img-top" alt="intensity">
                <div class="card-body">
                    <p class="card-text">Intensidad : Usa el control para seleccionar el color y aplica este efecto.</p>
                    <div class="btn-group-horizontal">
                             <button  onclick="Effecty('intensity');" class="btn btn-primary mb-2">Aplicar Efecto</button>
                        <button  onclick="Effecty('stop');" class="btn btn-danger mb-2">Detener</button>
                    </div>
                       
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3">
            <div class="card text-white mx-auto h-100 kards bg-dark" >
                <img src="https://cdn.pixabay.com/photo/2017/10/13/16/06/girl-2848057_960_720.jpg" class="card-img-top" alt="rainbow">
                <div class="card-body">
                    <p class="card-text">Arcoiris : Este efecto cambia simultaneamente de colores.</p>
                        <button  onclick="Effecty('rainbow')" class="btn btn-light mb-2">Aplicar color</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3">
            <div class="card text-white mx-auto h-100 kards bg-dark" >
                <img src="https://cdn.pixabay.com/photo/2017/09/08/12/01/flashlight-2728582_960_720.jpg" class="card-img-top" alt="strobe">
                <div class="card-body">
                    <p class="card-text">Estrobo : Diviertete con este tipico efecto.</p>
                        <button  onclick="Effecty('strobe')" class="btn btn-light mb-2">Aplicar color</button>
                </div>
            </div>
        </div>
        
    </div>
</div>

<script src="/js/main.js"></script>