  
<div class="container  mt-3 ">
  <div id="apply"></div>
  <div class="row ">

    <div class="col-sm-4 mb-3 ">
      <div class="card text-white mx-auto h-100 romance kards" >
        <img src="/img/romance.webp" class="card-img-top " alt="...">
        <div class="card-body">
          <h2 class="card-title">Romance</h2>
          <p class="card-text">Pasión, Peligro, Poder, Fuerza, Seducción, Actividad/dinamismo.</p>
          <button  onclick="Color('#ff0000');" class="btn btn-dark mb-2">Aplicar color</button>
        </div>
      </div>
    </div>

    <div class="col-sm-4 mb-3">
      <div class="card text-white mx-auto h-100 motivacion kards">
        <img src="/img/estudio.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Motivacion</h2>
          <p class="card-text">Energía, Juventud, Diversión, Positividad, Comodidad.</p>
          <button onclick="Color('#ffc300');" class="btn btn-dark mb-2">Aplicar color</button>
        </div>
      </div>
    </div>

    <div class="col-sm-4 mb-3">
      <div class="card text-white mx-auto h-100 creatividad kards">
        <img src="/img/crea.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Creatividad</h2>
          <p class="card-text">Lujo, Valor, Lealtad, Magia.</p>
          <button onclick="Color('#ff00cf');" class="btn btn-dark mb-2">Aplicar color</button>
        </div>
      </div>
    </div>

    <div class="col-sm-4 mb-3">
      <div class="card text-white mx-auto h-100 tranqui kards">
        <img src="/img/tranqui.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Tranquilizador</h2>
          <p class="card-text">Honestidad, Lealtad, Confianza / Estabilidad.</p>
          <button onclick="Color('#0023ff');" class="btn btn-dark mb-2" >Aplicar color</button>
        </div>
      </div>
    </div>

    <div class="col-sm-4 mb-3">
      <div class="card text-white mx-auto h-10 natu kards">
        <img src="/img/nat.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Naturaleza</h2>
          <p class="card-text">Salud, Vida, Crecimiento/ Esperanza.</p>
          <button onclick="Color('#00ff02');" class="btn btn-dark mb-2">Aplicar color</button>
        </div>
      </div>
    </div>

    <div class="col-sm-4 mb-3 ">
      <div class="card text-white mx-auto h-100 sensu kards">
        <img src="/img/sunsualidad.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Sensualidad</h2>
          <p class="card-text">Dulzura, Delicadeza, Amor / Calma.</p>
          <button onclick="Color('#ff006d');" class="btn btn-dark mb-2">Aplicar color</button>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="/js/main.js"></script>






